{
    "pipeline": {
        "name": "packer-aem-{{ item[0] | replace("/", "-") | replace(".", "-") }}-{{ item[1].platform_type }}-{{ item[1].os_type }}-{{ item[2] }}",
        "version": 2,
        "roleArn": "{{ ci.aws.iam.role_arn }}",
        "stages": [
            {
                "name": "Source",
                "actions": [
              {
                        "inputArtifacts": [],
                        "name": "Source",
                        "actionTypeId": {
                            "category": "Source",
                            "owner": "ThirdParty",
                            "version": "1",
                            "provider": "GitHub"
                        },
                        "outputArtifacts": [
                            {
                                "name": "{{ item[0] | replace("/", "-") | replace(".", "-") }}-{{ item[1].platform_type }}-{{ item[1].os_type }}-{{ item[2] }}"
                            }
                        ],
                        "configuration": {
                            "Owner": "{{ scm.organisation }}",
                            "Repo": "packer-aem",
                            "PollForSourceChanges": "false",
                            "Branch": "{{ item[0] }}",
                            "OAuthToken": "{{ lookup('env', 'AOC_SERVICE_TOKEN') | default(scm.access_token) }}"
                        },
                        "runOrder": 1
                    }
                ]
            },
            {
                "name": "Build",
                "actions": [
                {% for component in ci.aws.components %}
                    {
                        "inputArtifacts": [
                            {
                                "name": "{{ item[0] | replace("/", "-") | replace(".", "-") }}-{{ item[1].platform_type }}-{{ item[1].os_type }}-{{ item[2] }}"
                            }
                        ],
                        "name": "{{ component }}",
                        "actionTypeId": {
                            "category": "Build",
                            "owner": "AWS",
                            "version": "1",
                            "provider": "CodeBuild"
                        },
                        "outputArtifacts": [],
                        "configuration": {
                            "ProjectName": "packer-aem-{{ item[0] | replace("/", "-") | replace(".", "-") }}-{{ item[1].platform_type }}-{{ item[1].os_type }}-{{ item[2] }}-{{ component }}"
                        },
                        "runOrder": 1
                    }
                    {% if not loop.last %}
                    ,
                    {% endif %}
                {% endfor %}
                ]
            }
        ],
        "artifactStore": {
            "type": "S3",
            "location": "{{ ci.aws.s3.bucket_name }}"
        }
    }
}
