{
  "name": "aem-aws-stack-builder-{{ item[0] | replace("/", "-") | replace(".", "-") }}-{{ item[1].os_type }}-{{ item[2] }}",
  "description": "Run integration tests for {{ item[1].os_type }}-{{ item[2] }} from {{ item[0] }} branch",
  "serviceRole": "packer-aem-codebuild-role",
  "timeoutInMinutes": 240,
  "tags": [
    {
      "key": "Project",
      "value": "AEM OpenCloud"
    },
    {
      "key": "Owner",
      "value": "Shine Solutions AEM Team"
    }
  ],
  "artifacts": {
    "namespaceType": "BUILD_ID",
    "packaging": "ZIP",
    "path": "/aem-aws-stack-builder-codebuild/",
    "type": "S3",
    "location": "{{ ci.aws.s3.bucket_name }}",
    "name": "{{ item[1].os_type }}-{{ item[2] }}"
  },
  "environment": {
    "computeType": "BUILD_GENERAL1_SMALL",
    "image": "shinesolutions/aem-platform-buildenv:latest",
    "type": "LINUX_CONTAINER",
    "environmentVariables": [
      {
        "name": "PLATFORM_TYPE",
        "value": "aws",
        "type": "PLAINTEXT"
      },
      {
        "name": "OS_TYPE",
        "value": "{{ item[1].os_type }}",
        "type": "PLAINTEXT"
      },
      {
        "name": "AEM_VERSION",
        "value": "{{ item[2] }}",
        "type": "PLAINTEXT"
      },
      {
        "name": "BUILD_ID",
        "value": "ci-{{ item[0] | replace("/", "-") | replace(".", "-") }}-{{ item[1].os_type }}-{{ item[2] }}",
        "type": "PLAINTEXT"
      }
    ]
  },
  "source": {
    "type": "GITHUB",
    "location": "https://github.com/{{ scm.organisation }}/aem-aws-stack-builder",
    "buildspec": "buildspec.yml",
    "gitCloneDepth": 1
  }
}
